p{
	color:#ff0000;
	left:15px;
	right:35px;
}

h1{
	color:darkred;
	font-size:18px;
}

.silver{
	color:silver;
	left:23px;
	right:45px;
}

.t{
   display:block;
   font-size:30px;
   line-height:30pt;
   text-indent:23px;
}

.lili{
    display:block;
    color:green;
    font-size:30px;
    line-height:30pt;
}

.normal{
    transform: none;
}

.invert{
     transform: scaleX(-1);
}

.flipy{
     transform: scaleY(-1);
}


.bwee{
     text-shadow:20px 8px 7px;
     font-size: 25px;
}

.we{
    color: #0e0e7d; 
    text-shadow: 0 0 5px #170a45, 
                 0 0 12px #170a45,
                 0 0 56px #170a45; 
}